
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: orange;
    border:5cm;
    padding: 0cqb;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 36px;
}

.main-course,
.appetizers,
.beverages {
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-name {
    font-size: 20px;
}

.item-price {
    font-size: 16px;
}
